__pycache__/
*.py[cod]
*$py.class

.venv/
env/
venv/
ENV/

.DS_Store

.ipynb_checkpoints/

.cache/
.pytest_cache/

*.log
TikTok_Data/
*.json
*.csv

.env
*.env

*.egg-info/
dist/
build/

*.swp
*~
.idea/
.vscode/

pip-wheel-metadata/
__pypackages__/

*.so